html {
    scroll-behavior: smooth;
}

body {
    font-size: large;
    background-image: url("/img/body_background_120x200.gif");
    background-size: 180px 250px;
}

header {
    font-family: "Comic Sans MS";
    background-image: url("/img/header_background.jpeg");
    min-width: fit-content;
    display: flex;
    border: groove;
    border-width: 9px;
    border-color: cadetblue;
    position: sticky;
    top: 8px;
}

nav {
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#navLinks {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#navLinks li {
    list-style: none;
    margin: 0px 20px;
}

.link {
    color: cyan;
    text-decoration: none;
    background-color: black;
}

.link:hover {
    color: black;
}

#nombre {
    height: 50px;
    width: 350px;
}

#hylicsRunning {
    padding: 0px 10px;
    width: auto;
    height: 200%;
}

#sidebar {
    display: none;
    background-image: url("/img/header_background.jpeg");
    max-width: fit-content;
    min-width: fit-content;
    padding: 10px;
    position: absolute;
    top: 59px;
    right: -9px;
    display: flex;
    flex-direction: column;
}

#sidebar ul {
    padding: 0;
}

#sidebar li {
    list-style: none;
    margin-bottom: 20px;
}

#sidebarButton {
    display: none;
}

@media(width < 1225px) {
    #navLinks {
        display: none;
    }

    #sidebarButton {
        width: 40px;
        height: auto;
        display: flex;
        margin-left: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    margin-top: -50px;
    padding-top: 100px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section {
    width: 70%;
    padding: 10px;
    border: dotted;
    border-color: cyan;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.section h1 {
    color: cyan;
    text-align: center;
}

.section h2, h3 {
    color: darkturquoise;
}

#aboutMeHeader {
    display: flex;
    align-items: end;
}

#aboutMeHeader h1 {
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0px 0px 0px 205px;
}

#aboutMeHeader > h1 > img {
    align-self: center;
    padding: 10px;
}

#aboutMeHeader > img {
    width: 200px;
    background-image: url("/img/header_background.jpeg");
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#staffWizard {
    margin-left: 30px;
}

.borderGroove {
    border: groove;
    border-width: 9px;
    border-color: cadetblue;
}

.titleDate {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: wrap;
    min-width: fit-content;
}

#exp {
    height: 50px;
    width: auto;
}

.contentSeparator {
    height: 10px;
    margin: 10px 0px;
}

#java {
    height: 70px;
    width: auto;
}

figure {
    margin: 10px 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

figure img {
    width: 50px;
    height: auto;
}

figure figcaption {
    text-align: center;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
}

#links {
    height: 50px;
    width: auto;
    position: absolute;
}

#emailMe {
    position: relative;
    top: 10px;
}